DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bdaverd

APP_HOST=127.0.0.1
APP_PORT=5000
APP_DEBUG=True

APP_NAME=CloudMarket

SECRET_KEY=cambia_esta_clave_por_una_segura

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contrasena_de_aplicacion
MAIL_FROM=CloudMarket <tu_correo@gmail.com>

APP_URL_BASE=http://127.0.0.1:5000
